/* Color Theme Swatches in Hex */
/*
.principal { color: #193C40; }
.background { color: #cce2b7; }
.Verde-3-hex { color: #214001; }
.Verde-4-hex { color: #D96941; }
.destaque { color: #A62B1F; }
*/ 

html {
  background:#cce2b7;
  color: #193C40
}
